<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
</head>
<body>
        <table border="1">
            <thead>
            <tr>
                <th>Username</th>
                <th>Vorname</th>
                <th>Nachname</th>
                <th>Email</th>
                <th>Address</th>
            </tr>
            </thead>
        <tbody>
    <%# users.forEach((user) => { %>
        <% for (let user of users) {%>
        <tr>
        <td><%= user.username %></td>
            <td><%= user.firstname %></td>
            <td><%= user.lastname %></td>
            <td> <%= user.email %></td>
            <td> <%= user.address %></td>
        </tr>
    <%# })%>
        <% } %>
        </tbody>
        </table>
</body>
</html>
